{{- $title := .Title -}}
{{- $desc := .Description -}}
{{- $kind := "article" -}}
{{- $image := .Params.image -}}
{{- if or .IsHome (eq .Kind "home") -}}
	{{- $kind := "website" -}}
	{{- with .Site.Params.description -}}{{- $desc := . -}}{{- end -}}
	{{- with .Site.Params.avatar -}}{{- $image := . -}}{{- end -}}
{{- end -}}
{{- with $desc -}}{{- else -}}
	{{- $desc := strings.TrimSpace .Summary | safeHTML -}}
{{- end -}}
{{- with $desc }}
	<meta name="description" content="{{ $desc }}"/>
{{- end -}}
{{- if true }}
	<meta property="og:site_name" content="{{ .Site.Title }}"/>
	<meta property="og:locale" content="{{ .Site.LanguageCode }}"/>
	<meta property="og:type" content="{{ $kind }}" />
	<meta property="og:url" content="{{ .RelPermalink | absURL }}"/>
	<meta property="og:title" content="{{ $title }}" />
{{- with $desc }}
	<meta property="og:description" content="{{ $desc }}"/>
{{- end -}}
{{- with $image }}
	<meta property="og:image" content="{{ . }}"/>
{{- end -}}
{{- else -}}
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
{{- end -}}
