
//	block

figure, pre{
	margin:0;
	padding:0;
}
blockquote,figure,form,
h1,h2,h3,h4,h5,h6,
.block{
	display:block;
	margin:0.4em -1em;
	padding:0.3em 1em;
	border-radius:0.3ex
}
blockquote, form,
figure table,
blockquote,figure,table{
	box-shadow:1px 2px #777;
	box-shadow:0.5ex 0.4ex 1ex #0003;
}
table{
	line-height:1.2;
	margin-bottom:0.3em;
	border-radius:0.3ex
}
figcaption,
blockquote cite:first-child,
pre [title]::before{
	display:block;
	font:bold 1em arial;
	margin:-0.3em -1em 0.4em;
	padding:0 1em 0;
	border-radius:0.3ex 0.3ex 0 0;
	background-color:var(--hg,#ccd);
}
blockquote[title]::before{
	content:attr(title);
}
pre [title]::before{
	content:attr(title);
	margin-bottom:-0.8em;
}
pre{
	padding:0.2em 0.5em;
}

//	margin / padding

@each $v in (0,1,2,3,4,5,6,7,8,9,10) {
	.m-#{$v} {margin: $v * 0.1rem}
	.mt-#{$v} {margin-top: $v * 0.1rem}
	.mb-#{$v} {margin-bottom: $v * 0.1rem}
	.ml-#{$v} {margin-left: $v * 0.1rem}
	.mr-#{$v} {margin-right: $v * 0.1rem}
	.mx-#{$v} {margin-left: $v * 0.1rem; margin-right: $v * 0.1rem}
	.my-#{$v} {margin-top: $v * 0.1rem; margin-bottom: $v * 0.1rem}

	.p-#{$v} {padding: $v * 0.1rem}
	.pt-#{$v} {padding-top: $v * 0.1rem}
	.pb-#{$v} {padding-bottom: $v * 0.1rem}
	.pl-#{$v} {padding-left: $v * 0.1rem}
	.pr-#{$v} {padding-right: $v * 0.1rem}
	.px-#{$v} {padding-left: $v * 0.1rem; padding-right: $v * 0.1rem}
	.py-#{$v} {padding-top: $v * 0.1rem; padding-bottom: $v * 0.1rem}
}

//	border / radius

.inset{border:1px inset}
.outset{border:1px outset}
.border{border:1px solid #777}

@each $v in (white,silver,gray,black,
		red,orange,green,cyan,blue,brown) {
	.b-#{$v} {border:1px solid $v}
	.bl-#{$v} {border-left:1px solid $v}
	.br-#{$v} {border-right:1px solid $v}
	.bt-#{$v} {border-top:1px solid $v}
	.bb-#{$v} {border-bottom:1px solid $v}
}
@each $v in (0,1,2) {
	.round#{$v} {border-radius:$v * 1ex}
}

//	shadow

.noshadow{
	box-shadow:none;
}
.shadow-item .item,
.shadow{
	box-shadow:0.5ex 0.4ex 1ex #0003;
	box-shadow:0.6ex 0.4ex 1ex rgba(0,0,0,64);
}
@each $v in (p,h1,h2,h3,h4,h5,h6) {
	.p-shadow #{$v} {
		margin: 0.5ex -1ex 1ex;
		padding: 0.2ex 1ex;
		box-shadow: 0.5ex 0.4ex 1ex #0003;
	}
}

//	hgroup

h1{font:bold 3em}
h2{font:bold 2em}
h3{font:bold 1.4em}
h4{font:bold 1.2em}
h5{font:bold 1.1em}
h6{font:bold 1em}
article h1{background-color:var(--hg,#dee)}
article h2{background-color:var(--hg,#ddc)}
article h3{background-color:var(--hg,#dcb)}
article h4{background-color:var(--hg,#edc)}
article h5{border-bottom:1px dotted #777}

h1.r,h1.g,h1.b{border-left:0.4em solid transparent; padding-left:0.6em; box-shadow:1px 2px #777}
h2.r,h2.g,h2.b{border-left:0.3em solid transparent; padding-left:0.7em; box-shadow:1px 2px #777}
h3.r,h3.g,h3.b{border-left:0.2em solid transparent; padding-left:0.8em; box-shadow:1px 2px #777}
h4.r,h4.g,h4.b{border-left:0.1em solid transparent; padding-left:0.9em; box-shadow:1px 2px #777}
h1.r,h2.r,h3.r,h4.r{border-color:#e63}
h1.g,h2.g,h3.g,h4.r{border-color:#7a3}
h1.b,h2.b,h3.b,h4.r{border-color:#39c}

hr{margin:0.5ex; border:1px dotted #7777}

//	float

.clear{clear:both}
.box-left{float:left}
.box-right{float:right}

//	column


//	flexbox

.flex.wrap{flex-wrap:wrap}
.flex.column{flex-direction:column}
.flex.reverse{flex-direction:row-reverse}

.center{
	width:auto;
	text-align:center;
}
.between{justify-content:space-between}
.around{justify-content:space-around}

//	grid


//	list

.ls-none li,.ls2-none li li{list-style:none}
.ls-digit li,.ls2-digit li li{list-style:decimal}
.ls-disc li,.ls2-disc li li{list-style:disc}
.ls-circle li,.ls2-circle li li{list-style:circle}
.ls-square li,.ls2-square li li{list-style:square}
.ls-roman li,.ls2-roman li li{list-style:lower-roman}
.ls-roman2 li,.ls2-roman2 li li{list-style:upper-roman}
.ls-kanji li,.ls2-kanji li li{list-style:japanese-formal}

ol,dl,ul,table{
	margin:0;
	margin-block-start:0;
	margin-block-end:0;
}
dt,dd,li{
	margin:0;
	margin-block-start:0;
	margin-block-end:0;
}
ol.m,ul.m,.dl.m{
	margin:0;
	padding:0;
	border-radius:0.5ex;
}

//	definition

.dl-f1 dt{clear:both; float:left}
.dl-fd dt{clear:both}
.dl-fd dd{float:right; text-align:right}
.dl-f2 dt{clear:both; float:left; text-align:left}
.dl-f2 dd{float:right; text-align:right}

.dl-i dt{display:inline-block}
.dl-i dd{display:inline-block; margin-left:1ex}
.dd-ps{padding:2px 3ex}

.m>dt,.m>dd,.m>li{
	margin:0 -1em;
	padding:0.3em 1em;
	border-radius:0.5ex;
}

.dt-ind dt,.dd-ind dd{margin-left:3ex}
.dd2-ind dd+dd{margin-left:6ex}

//	table

th,td{margin:0; padding:0.3ex 0.5ex 0.2ex}
.fix th,.fix td,.fix li{padding:0}

.th-l th,.td-l td,.tz-l td:last-child{text-align:left}
.th-c th,.td-c td,.tz-c td:last-child{text-align:center}
.th-r th,.td-r td,.tz-r td:last-child{text-align:right}
.th-t th,.td-t td,.tz-t td:last-child,
.th-u th,.td-u td,.tz-u td:last-child{vertical-align:top}
.th-m th,.td-m td,.tz-m td:last-child{vertical-align:middle}
.th-b th,.td-b td,.tz-t td:last-child,
.th-d th,.td-d td,.tz-d td:last-child{vertical-align:bottom}
.th-z th:last-child,
.td-z td:last-child{text-align:left}
.th-v th[rowspan],
.td-v td[rowspan],.v{
	writing-mode:vertical-rl;
	width:1.2em;

	box-sizing:content-box;
	width:1em;
	padding:0;
	padding-block-start:0;
	padding-inline-start:0.5ex;
	vertical-align:top;
}

.gauge,tr.gauge th{width:1em}

