//	reset

:root{
    text-size-adjust:none;
	overflow-wrap:break-word;
	cursor:default;
	tab-size:4;
}
*,::before,::after{
	box-sizing:border-box;
	background-repeat:no-repeat;
}
img,picture,video,canvas,svg{
	display:block;
	max-width:100%;
}
input,button,textarea,select{
	font:inherit;
}
textarea{
	white-space:revert;
}

//	position

.relative{position:relative}
.absolute{position:absolute}
.sticky{position:sticky}
.fl-left{float:left}
.fl-right{float:right}
.fl-clear{clear:both}

//	display

.inblock{display:inline-block}
.inline{display:inline}
.block{display:block}
.table-row{display:table-row}
.cell{display:table-cell}
.grid{display:grid}
.flex{display:flex}
.column{display:column}
.flow-root{display:flow-root}

//	sizing

.sizing-border{box-sizing:border-box}
.sizing-content{box-sizing:content-box}

@each $v in (10,20,25,30,40,50,60,70,75,80,90,100) {
	.dd-w#{$v} dd,
	.dt-w#{$v} dt,
	.li-w#{$v} li,
	.w-#{$v} {width: $v * 10%}
	.h-#{$v} {height: $v * 10%}
}
.w-auto {width:auto}
.h-auto {height:auto}

//	text-wrap

.text-wrap{white-space:normal}
.text-nowrap{white-space:nowrap}
.text-pre{white-space:pre}
.text-wrap{white-space:pre-wrap}
.text-line{white-space:pre-line}

//	overflow

.clip{overflow:hidden}
.clip-x{overflow-x:hidden}
.clip-y{overflow-y:hidden}
.scroll{overflow:scroll}
.scroll-x{overflow-x:scroll}
.scroll-y{overflow-y:scroll}
.scroll{overflow:scroll}

//	visibility

.show{visibility:visible}
.hide{visibility:hidden}

//	bg color

blockquote{background-color:var(--bg,#ded)}
figure{background-color:var(--bg,#cde)}
pre{background-color:var(--bg,#eec)}
/*form{background-color:#edc}*/

.bg:not(table){background-color:var(--bg,#eed)}
.cg,.hg{background-color:var(--hg,#dee)}
.ag,.fg{background-color:var(--fg,#ded)}

table.bg{background-color:#666}
.bg th{background-color:var(--hg,#ccc)}
.bg td{background-color:var(--bg,#eed)}
.tz-bg td:last-child{background-color:var(--fg,#ded)}

dl.bg dt,.dt-bg dt{background-color:var(--hg,#dee)}
dl.bg dd,.dd-bg dd{background-color:var(--dg,#eed)}
dl.bg dt:last-child{background-color:var(--fg,#edd)}

.bg .d,.td-d td:empty{background-color:#aaa8; color:white}
.bg .k,.td-k td:empty{background-color:#8888; color:white}
.bg .d dt,.bg .k dt{color:silver}
.bg .d dd,.bg .k dt{color:white}

@each $v,$color in (
	w1:#eee, w2:#ddd, w3:#ccc, w4:#bbb, w5:#aaa,
	w6:#999, w7:#777, w8:#444, w9:#111,

	r1:#edd, r2:#ecc, r3:#ebb, r4:#e99, r5:#e33,
	y1:#eed, y2:#eec, y3:#eeb, y4:#ee9, y5:#ee3,
	g1:#ded, g2:#cec, g3:#beb, g4:#9e9, g5:#3e3,
	c1:#dee, c2:#cee, c3:#bee, c4:#9ee, c5:#3ee,
	b1:#dde, b2:#cce, b3:#bbe, b4:#99e, b5:#33e,
	m1:#ede, m2:#ece, m3:#ebe, m4:#e9e, m5:#e3e,

	o1:#edc, o2:#edb, o3:#eca, o4:#eb9, o5:#e93,
	k1:#dec, k2:#deb, k3:#cea, k4:#be9, k5:#9e3,
	t1:#ced, t2:#bed, t3:#aec, t4:#9eb, t5:#3e9,
	a1:#cde, a2:#bde, a3:#ace, a4:#9be, a5:#39e,
	v1:#dce, v2:#dbe, v3:#cae, v4:#b9e, v5:#93e,
	p1:#ecd, p2:#ebd, p3:#eac, p4:#e9b, p5:#e39,
) {
	.xg-#{$v} .x,
	.yg-#{$v} .y,
	.zg-#{$v} .z,
	.bg-#{$v} {--bg:$color}
	.hg-#{$v} {--hg:$color}
	.fg-#{$v} {--fg:$color}
	.dg-#{$v} {--dg:$color}
}

