:root{
    text-size-adjust:none;
	overflow-wrap:break-word;
	cursor:default;
	tab-size:4;
}
*,::before,::after{
	box-sizing:border-box;
	background-repeat:no-repeat;
}
b,em,strong{font-weight:bolder}
small{font-size:80%}
sub,sup{
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline;
}
sub{bottom:-0.25em}
sup{top:-0.5em}
rt{
	font-weight:100;
	letter-spacing:-0.3ex;
}
.dt-en dt rt,.dd-en dd rt,.td-en td rt{
	letter-spacing:0;
}
textarea{
	white-space:revert;
}
input,button,textarea,select{
	font:inherit;
}
a,button{
	cursor:revert;
}
a:not([class]){
	position:relative;
	color:currentColor;
	text-decoration-skip-ink:auto;
}
img,picture,video,canvas,svg{
	display:block;
	max-width:100%;
}
.sizing-border{box-sizing:border-box}
.sizing-content{box-sizing:content-box}
