/* hgroup */
/*
h1,h2,h3,h4,h5,h6{
	text-wrap:balance;
}
*/
h1{font:bold 3em}
h2{font:bold 2em}
h3{font:bold 1.4em}
h4{font:bold 1.2em}
h5{font:bold 1.1em}
h6{font:bold 1em}
article h1{background-color:var(--hg,#dee)}
article h2{background-color:var(--hg,#ddc)}
article h3{background-color:var(--hg,#dcb)}
article h4{background-color:var(--hg,#edc)}
article h5{border-bottom:1px dotted #777}

h1.r,h1.g,h1.b{border-left:0.4em solid transparent; padding-left:0.6em; box-shadow:1px 2px #777}
h2.r,h2.g,h2.b{border-left:0.3em solid transparent; padding-left:0.7em; box-shadow:1px 2px #777}
h3.r,h3.g,h3.b{border-left:0.2em solid transparent; padding-left:0.8em; box-shadow:1px 2px #777}
h4.r,h4.g,h4.b{border-left:0.1em solid transparent; padding-left:0.9em; box-shadow:1px 2px #777}
h1.r,h2.r,h3.r,h4.r{border-color:#e63}
h1.g,h2.g,h3.g,h4.r{border-color:#7a3}
h1.b,h2.b,h3.b,h4.r{border-color:#39c}

hr{margin:0.5ex; border:1px dotted #7777}
